html {
  color: #222222;
  font-family: system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
body {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none;
  text-transform: none;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 1.25;

  font-size: 1rem;
  padding: .25rem .5rem;
  min-height: 2.25rem;
  border-radius: .25rem;
  color: white;
  border: none;
  flex: none;
}
button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}
button.button-green {
  background-color: #0F675A;
}
button.button-green:hover:not([disabled]) {
  background-color: #004740;
}
button.button-red {
  background-color: #984d54;
}
button.button-red:hover:not([disabled]) {
  background-color: #723a3f;
}

#site {
  padding: 1rem;
}

#welcome {
  font-size: 2rem;
}

#err {
  color: #BF616A;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
}

#controls {
  margin: 1rem 0;
}

.pump {
  padding: 1rem .5rem;
  margin: .25rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: .5rem;
}
.pump.on {
  background-color: #abeca3;
}
.pump-name {
  margin-right: .5rem;
  width: 4rem;
  font-weight: bold;
}
.pump-description {
  font-size: .75rem;
  color: #777;
}
.pump-button {
  margin: 0 .5rem
}
.pump-status {
  margin-left: .5rem;
  flex: 1;
}
@media (max-width: 576px) {
  .pump-status {
    margin: .5rem 0 0 0;
    flex: none;
  }
}

#info {
  margin: 0 .5rem;
}
#status-container {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: .25rem;
  background-color: #d6dfe6;
}

#status {
  margin: 0;
  overflow: scroll;
  font-size: .85rem;
}
